<ion-header>
  <ion-toolbar>
      <ion-back-button text="{{titleDetail}}" color="danger"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content no-padding class="card-background-page">

    <ion-card>
        <img style="height: 300px;" src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
        <ion-card-content>
          <ion-card-title text-left>
            {{movie.original_title}}
            </ion-card-title>
          <p text-left>
            {{movie.release_date | date: 'yyyy'}}
          </p>
          <p text-left>
              {{movie.overview}}
            </p>
          
        </ion-card-content>
      </ion-card>

</ion-content>