ion-content {
    --ion-background-color: #221F1F;
}

ion-card-title {
    --color: #f5f5f1;
    font-family: 'K2D', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.sc-ion-card-md-h {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 14px;
}

.sc-ion-card-ios-s {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 14px;

  }

.card-background-page {

    ion-card {
        position: relative;
        text-align: center;
    }

    .sc-ion-card-md-h {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: 4px;
        font-size: 14px;

    }


}