ion-content {
    --ion-background-color: #221F1F;
}

.movie-title {
    font-size: 1em;
    font-family: 'K2D', sans-serif;
    color: #f5f5f1;
    font-weight: 400;
    margin: 15px
}

.movie-description {
    font-size: 1em;
    font-family: 'K2D', sans-serif;
    color: #f5f5f1;
    font-weight: 400;
    padding-left: 15px
}

ion-item {
    -ion-item-background: 5px solid #c3c3c3;
}

.flex-container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

    .content {
        min-width: 120px;
        min-height: 94px;
        margin: 5px;
    }
}

.msg-title {
    font-family: 'K2D', sans-serif;
    color: #f5f5f1;
    font-size: 28px;
    font-weight: 600;
}

.advertisement {
    font-family: 'K2D', sans-serif;
    color: #c3c3c3;
    font-size: 11px;
    font-weight: 400;
}

.sc-ion-searchbar-ios-h {
    --clear-button-color: var(--ion-color-step-600, #666);
    --cancel-button-color: var(--ion-color-primary, #3880ff);
    --color: var(--ion-text-color, #333);
    --icon-color: var(--ion-color-step-600, #666);
    --background: #ffffff;
}

.custom-button {
    background-color: transparent;
    color:#f5f5f1;
    font-size: 5em;
}