<ion-header>
  <ion-toolbar>
    <img class="logo" src="../../assets/icon/netflix-icon.png">
  </ion-toolbar>
</ion-header>



<ion-content no-padding  class="card-background-page">

  <ion-card>
      <img src="../../assets/icon/shazam-movie.jpg"/>
      <div class="card-subtitle">{{studio}}</div>
      <div class="card-title">{{titleMovie}}</div>
      <div class="card-description">{{description}}</div>
      <div class="flex-items">
        <div class="flex-content">
          <ion-icon class="nt-icon"  name="add"></ion-icon>
          Minha lista
        </div>
        <div class="flex-content">
            <button class="play-movie" ion-button icon-start block>
                <ion-icon name="play"></ion-icon>
                Assistir
              </button>
        </div>
        <div class="flex-content">
          <ion-icon class="nt-icon"  name="information-circle-outline"></ion-icon>
          Saiba mais
        </div>
      </div>
    </ion-card>

  <h3 class="spotlight">{{txtPopularTitle}}</h3>
  <div class="flex-container">
    <div class="content" *ngFor="let popular of populars" (click)="viewDetail(popular)">
      <img src="http://image.tmdb.org/t/p/w500{{popular.poster_path}}">
    </div>
  </div>

  <h3 class="spotlight">{{txtHighMoviesTitle}}</h3>
  <div class="flex-container">
    <div class="content" *ngFor="let othersMovie of othersMovies" (click)="viewDetail(othersMovie)">
      <img src="http://image.tmdb.org/t/p/w500{{othersMovie.poster_path}}">
    </div>
  </div>

</ion-content>