.logo {
  width: 3em;
}

.flex-container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;

  .content {
    min-width: 120px;
    min-height: 94px;
    margin: 5px;
  }
}

.spotlight {
  color: #f5f5f1;
  font-weight: 600;
  margin: 15px 10px;
  font-family: 'K2D', sans-serif;
}

ion-content {
  --ion-background-color: #221F1F;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    font-family: 'K2D', sans-serif;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    font-family: 'K2D', sans-serif;
    color: #f5f5f1;
  }

  .card-description {
    font-size: 1.0em;
    position: absolute;
    top: 80%;
    width: 100%;
    font-family: 'K2D', sans-serif;
    color: #f5f5f1;
  }

  .sc-ion-card-md-h {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 14px;

  }

  .sc-ion-card-ios-s {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    font-size: 14px;

  }

}